body {
  background-color: rgb(14, 58, 19);
}
.logo {
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%; /*Untuk border foto bulat*/
  margin: 0 auto;
}

.navcolor {
  background-color: rgba(0, 0, 0, 0.5);
}
.no-underline {
  text-decoration: none;
}

.img-pos {
  width: 100%;
  height: 100%px;
  margin: 0 auto;
}

.txtme {
  color: white;
  font-size: 40px;
}

.carousel-inner {
  background: rgba(212, 211, 211, 0.438);
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(5px);
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
